
*{
    margin: 0px;
    padding: 0px;
}

@font-face{
    font-family:Futura; 
    src:url(../fonts/futura/futura\ medium\ bt.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family:Avian; 
    src:url(../fonts/avian/Avian\ Bold.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body{
  background-color: #E5E5E5;
  padding-top: 50px;
}

/* styling for background images starts here*/

.one{
    position: absolute;
    top: 50px;
    left: 235px;
    opacity: 0.6;
    }
    .two{
        position: absolute;
        transform: rotate();
        top: 50px;
        left: 660px;
        opacity: 0.6;
        }
        .three{
            position: absolute;
            transform: rotate(360deg);
            left: 236px;
            bottom: -155px;
             opacity: 0.6; 
     
            }
            .four{
                position: absolute;
                background:rgba(235, 231, 214, 0.015) ;
                transform: rotate(360deg);
                top: 170px;
                right: 237px;
                opacity: 0.6;
                
                }
                .five{
                    position: absolute;
                    background:rgba(235, 231, 214, 0.015) ;
                    opacity: 0.6;
                    right:240px ;
                    bottom: -160px;
                    }
                    .six{
                        position: absolute;
                        background:rgba(235, 231, 214, 0.015) ;
                        opacity: 0.6;
                        right:260px ;
                        bottom: -190px;
                        }
                        .seven{
                            position: absolute;
                            background:rgba(235, 231, 214, 0.015) ;
                            opacity: 0.6;
                            right:260px ;
                            bottom: -410px;
                            }
                            .eight{
                                position: absolute;
                                background:rgba(235, 231, 214, 0.015) ;
                                opacity: 0.6;
                              bottom:-400px ;
                              left: 264px;
                              
                                }
/* styling for background images ends here */

#con{
width: 65%;
height: 950px;
margin: auto;
/* border: 2px solid yellow ; */
}
#con-con{
    height: 220px;
 /* border: 5px black solid; */
}
#con-one{
    background-color: white;
    height: 220px;  
}

#con-one-one{
    /* border: 1px solid red; */
    height: 70px;
    margin-left:60px;
  padding-top: 45px;
}


#con-one-two{
    /* border: 1px solid rgb(42, 25, 192);  */
    height: 50px;
    width: 100%;
    display: flex;
    text-align: center;
}
#con-one-two h3{
font-weight: bold;
font-family: Avian;
font-style: normal;
text-align: center;
color: #10150C;
 padding: 10px 0px 10px 0px; 
 font-size: 30px;
 margin-left: 360px;
}


#con-one-three{
    /* border: 1px solid rgb(24, 211, 108); */
    height: 50px;
}
#con-one-three p{
    font-weight: 400;
    font-family: Futura;
    line-height: 1.5rem;
    text-align: center;
    font-style: normal;
     padding: 10px 0px 0px 0px;
    color: #10150C;
}



/* section 2 con-two  styling with two divs*/
#con-two{
    
    background-color: #2B50AA;
    height: 900px;
}
#box{
    display: block;
    margin: auto;
}

#boxone{
border: 5px solid yellow;
background-color: white;
height: 750px;
margin: 0px 60px;

}

#container-one{
    display: flex;
}



#left-box{

width: 20%;
margin:  0px 0px 0px 10px;
padding: 0px 20px;
height: 350px;
border: 2px blue solid;
}

#all-img{
 
display: block;
  margin: 65px 0px 65px  0px;
}


#right-box{
    height: 350px;
    width: 70%; 
    margin: 0px 10px;
    border: 2px  solid red;
}

table{
    border-collapse: collapse;
    border: none;
    margin-bottom: 50px;
    
}
tr th{
padding: 25px;
font-size: 18px;
font-family: Futura;
}
 
tr  td{
padding: 30px 20px;
font-size: 14px;
font-family: Futura;
 }

 #container-two{
   
}

 #below-boxa{
display: flex;
border: 2px solid orangered;
margin: 10px;

 }
 #below-box-one{
/* border: 2px solid red; */
 }

 #below-box-two{
/* border: 2px solid blue; */
}

#below-box-three{
/* border: 2px solid purple; */
}

.mybtnone{
padding: 5px;
color: #766b6bbb;
border: 2px solid #3a3131a3;
width: 150px;
font-family: Futura;
font-weight: bold;
text-align: center;
}

.mybtntwo{
    padding: 5px;  
    margin-left: 100px;
    width: 150px;
    font-family: Futura;
    font-weight: bold;
    text-align: center;
}

.mybtnthree{
    padding: 5px;
    margin-left: 150px;
    font-weight: bold;
    width: 150px;
    font-family: Futura;
    text-align: center;
}



#below-boxb{
display: flex;
}

#below-boxb-one{
  border: 2px solid purple;  
}

#below-boxb-two{
    border: 2px solid darkblue;
    font-family: Futura;
    font-weight: bold;
}

















 #below-box-two{
     
}

  






















/* yellow box */

#boxtwo{
    height: 80px;
    margin: 0px 60px 60px 60px;
    /* border:2px solid black; */
    background:#E8C547;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}



/* section 2 con-two  styling ends with two divs*/