
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #e5e5e5;
}

.main{
width: 80%;
/* border: 2px solid red; */
margin: auto;
height: 1500px;
background-color: rgba(255, 255, 255, 0.85);
}
.header{
 background-color: #FFFAE9;
/* border: 3px solid blue; */
height: 80px;
display: flex;

}
.box_one{
    /* border: 2px solid red; */
    margin: auto;
    height: 80px;
    width: 80%;
}
.headerimg{
    /* border: 4px solid darkred; */
    float: left;
    padding-top: 10px;
}
.headertext{
    /* border: 4px solid green; */
    float: right;
    display: flex;
    margin-left: 300px;
    padding-top: 10px;
}
.headertext-login p{
font-family: Futura;
font-weight: bold;
font-size: 14px;
padding: 10px 20px 10px 20px;
}

.mybtn{
    width: 120px;
    background-color: #245B09;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 8px rgba(19, 37, 10, 0.25);
    border: none;
    outline: none;
}



/* styling for midone starts here */
.midone{
height: 900px;
/* border: 4px solid blue; */
background-image: url("images/bgimg-one.svg");
/* opacity: 0.3; */
background-repeat: repeat;
background-size: contain;
background-attachment: fixed;
}
.box_two{
    /* border: 2px solid red; */
    display: block;
}
.top{
    /* border: 4px solid rgb(102, 31, 196); */
   display: flex;
   width: 100%;
    height: 900px;
}
.topone{
    border: 1px solid rgba(243, 245, 241, 0.898);
    background-color: #F0F0F0;
    border-radius: 10px;
    height: 460px;
    width: 50%;
}
.topone_one{
    height: 150px;
    /* border: 2px solid red; */
}
.topone_two{
    height: 150px;
    /* border: 2px solid aquamarine; */
}
.topone_three{
    height: 150px;
    /* border: 2px solid blue; */
}


.toptwo{
    /* border: 2px solid blue; */
    height: 350px;
    width: 45%;
    margin-left: 20px;
}
.con{
    /* border: 4px solid blue; */
    height: 350px;
   
}

.conone{
    border: 1px solid rgb(0, 0, 0);
    height: 70px;
    border-top: none;
    border-left: none;
    border-right: none;
}
.contwo{
    border: 1px solid rgb(0, 0, 0);
    height: 70px;
    border-top: none;
    border-left: none;
    border-right: none;
}
.conthree{
    border: 1px solid rgb(5, 5, 5);
    height: 70px;
    border-top: none;
    border-left: none;
    border-right: none;
}
.confour{
    border: 1px solid rgb(0, 0, 0);
    height: 70px;
    border-top: none;
    border-left: none;
    border-right: none;
}
.confive{
    border: 1px solid rgb(0, 0, 0);
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
}



.bottom{
    /* border: 4px solid red; */
  height: 65px;
  position: absolute;
  bottom: -50px;
 width: 30%;
 right: 380px;
}
.bottom input{
background-color: #245B09;
color: #FFFFFF;
outline: none;
padding: 10px;
font-weight: lighter;
font-family: Futura;
box-shadow: 0px 2px 8px rgba(19, 37, 10, 0.25);
border: none;
border-radius: 5px;
}.bottom input:hover{
background-color: #689450;
color: rgba(42, 31, 199, 0.823);
font-weight: bold;
}
.bottom a{
    line-height: 2em;
 text-decoration: none;
 color: #245B09;

}
.bottom a:hover{
    color: red;
}
/* styling for midone ends here */


.box_two{
    /* border: 2px solid green; */
    margin: auto;
    height: 80px;
    width: 80%;
    height: 1400px;
}
/* styling for midtwo */
.midtwo{
    /* border: 2px solid red;  */
    height: 200px; 
    background-color: #E8C547;
}
.midtwo_box{
    /* border: 6px solid orangered; */
    margin: auto;
    width: 40%;
    height: 100px;
    display: block;
    padding-top: 35px;
    padding-bottom: 35px;
}
.midtwo_box-one{
/* border: 3px solid white; */
height: 25px;

}
.midtwo_box-one p{
    font-weight: bolder;
    font-size: 28px;
    font-family: Futura;
    text-align: center;
    
}

.midtwo_box-two{
    /* border: 3px solid blue; */
    height: 80px;
    display: flex;
}
.midtwo_box-two-googleplay{
padding-left: 95px;
padding-top: 20px;
}
.midtwo_box-two-appstore{  
 padding-top: 20px;
  }



.midtwo_box-three{
    /* border: 3px solid black; */
    height: 20px; 
    
}
.midtwo_box-three a{
    text-decoration: none;
    font-family: Futura;
    font-size: 13px;
    color: #10150C;
    text-align: center;
}
.midtwo_box-three p{
    text-decoration: none;
    font-family: Futura;
    font-size: 13px;
    color: #10150C;
    text-align: center;
   
    
}
/* styling for midtwo ends here */






/* styling for midthree starts */
.midthree{
    /* border: 2px solid purple;  */
    height: 255px; 
    background-image: url("images/bgimg-one.svg");
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
  
    
}
.lineall{
    margin: auto;
    display: flex;
    /* border:  5px solid red; */
    height: 210px;
    margin: 20px  100px 20px 100px;
   
}
.lineone{
    /* border: 5px solid purple;  */
    display: block;
    width: 150px;
    margin-right: 21px;
    

}
.item1{
    margin-top: 20px;
}
.item2{
    margin: 20px 0px;
}
.item3{
  margin-bottom: 20px;  
}


/* styling linetwo */

.linetwo{
    /* border: 5px solid red;  */
    width: 150px;
    margin-right: 21px;
    margin-left: 37px;

}

ul{
    padding-top: 15px;
    list-style-type: none;

}
ul li{
    padding-top: 15px;
}

/* styling linetwo ends here */



.linethree{
    /* border: 1px solid blue;  */
    width: 150px;
    margin-right: 21px;
    margin-left: 37px;
}

ul{
    padding-top: 15px;
    list-style-type: none;

}
ul li{
    padding-top: 15px;
}


.linefour{
    /* border: 1px solid red;  */
    
    display: block;
    width: 150px;
    margin-right: 21px;
    margin-left: 37px;

}
ul{
    padding-top: 15px;
    list-style-type: none;

}
ul li{
    padding-top: 15px;
}


.linefive{
    /* border: 3px solid purple;  */
   
    display: block;
    width: 150px;

}
ul{
    padding-top: 15px;
    list-style-type: none;

}
ul li{
    padding-top: 15px;
}
.picture{
/* border: 3px solid red; */
padding: 35px 0px;
}


/* styling for midthree ends here */