*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family:Futura; 
    src:url(../fonts/futura/futura\ medium\ bt.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family:Avian; 
    src:url(../fonts/avian/Avian\ Bold.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    background-color: #E5e5e5;
    padding: 50px;
}
#main{

width: 80%;
margin: auto;
}

/* section one styling starts here */
#num{

}

.one{
position: absolute;
top: 50px;
left: 278px;
opacity: 0.5;

}
.two{
 position: absolute;

bottom: 60px;
left: 300px;
transform: rotate(360.9deg);
opacity: 0.5;
}
 .three{
    position: absolute;
  bottom: 50px;
  left: 480px;
  transform: rotate(362.9deg);

  opacity: 0.5;

   }
.four{
    position: absolute;
  bottom: 250px ;
  right: 670px;
  transform: rotate(360.9deg);
opacity: 0.7;
   } 
   .five{
    position: absolute;
  bottom:45px ;
  right: 280px;
  transform: rotate(360.9deg);
opacity: 0.7;
   } 

   .six{
    position: absolute;
  top: 50px ;
 right: 280px;
  transform: rotate(360.9deg);
opacity: 0.5;
   } 






/* section one styling ends here */



/* section two styling starts here */
#container{

width: 80%;
height: 500px;
/* border: 1px solid red; */
margin: auto;
display: flex;
}


#con1{
width: 300px;
height: 554px;
background-color: #2B50AA;   
}

#box1{
    height: 450px;
    color: #F3F7F1;
    background-color: #d6b63f;
    margin-top: 50px;
    margin-left: 50px;
    border-top-left-radius:7px ;
    border-bottom-left-radius: 7px; 
    line-height: 1.5rem; 
    font-family: Futura; 
    
}

#first{
    width: 100px;
    /* border: 1px solid rgba(255, 0, 0, 0.59); */
    display: flex;
    position: relative;
    top: 120px;
    padding-left: 20px;
    justify-content: center;
    align-items: center;
}

#firstlogo{
    /* border: 2px solid rgb(138, 47, 212); */
    padding-right: 7px;
}

#firsttext{
    /* border: 2px solid green; */
    font-size: 20px;
    /* font-weight: lighter; */
    color: #F3F7F1;

}

#secondtext{
    position: relative;
    top: 120px;
    /* border: 2px solid rgb(46, 43, 212); */
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    padding: 20px;
    font-family: Futura;
    
}


/* styling to right hand box starts here */

#con2{
   
    width: 500px;
    height: 550px;
    background-color: #ffffff; 
    padding: 0px 25px 5px 0px;
   
    
    
    
}

#box2{
   
    height: 450px;
    background-color: #FFFFFF;
    margin-top: 50px;
 
   
    
}
#textone{
    font-size: 17px;
    font-weight:bold ;
    font-family: Futura;
    font-style: normal;
    color: #245B09;
    text-align: center;
    padding-top: 15px;
}
#texttwo{
display: flex;
width: 80%;
border: 1px solid red;
margin: auto;
margin-top: 30px;
justify-content: center;
align-items: center;
padding: 10px 0;
border: 1px solid rgba(255, 0, 0, 0.248);
font-family: Futura;

}
#texttwo-img{
   margin:0 5px ;
}
#texttwo-text{
    font-family: Futura;
}
#textthree{
display: flex;
margin:  50px auto 2px auto;
justify-content: center;
align-items: center;


}
#textthree::before{
    content: '';
    display: inline-block;
    /* box-sizing: border-box; */
    width: 190px;
    height: 1px;
    background-color:  rgba(177, 176, 176, 0.864);
    margin-right: 3px;

}
#textthree::after{
    content: '';
    display: inline-block;
    /* box-sizing: border-box; */
    width: 190px;
    height: 1px;
    background-color: rgba(177, 176, 176, 0.864);
    margin-left: 3px;

}

form{
color: white;
position: relative;
top:30px;
margin: auto;
width: 80%;
}
input{
    padding: 5px 3px;
    display: block;
    width: 100%;
    margin-bottom: 5px;
    outline: none;
    border: 1px solid rgba(177, 176, 176, 0.864);
    border-radius: 3px;
    font-family: Futura;

}
::placeholder{
    color: rgba(216, 211, 211, 0.919);
    font-size: 14px;

}

label{
color: #10150C;
font-size: 14px;
font-weight: bold;
font-family: Futura;

}

.mybtn{
    background-color: #245B09;
    color: #F3f7F1;
    width: 100%;
    padding: 10px 5px;
    outline: none;
    border-radius: 3px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
font-family: Futura;
    border: none;
}
.mybtn:hover{
color: black;
background-color:#bce4a8 ;
}
#textfour{
    position: relative;
    top: 50px;
    text-align: center;
    font-size: 16px;
    font-family: Futura;
    color: black;
    
}
h4{
    font-weight: bold;
font-family: Futura;
font-size: 16px;
}
a{
    color: #245b09;
    text-decoration: none;
    cursor: grab;
    font-weight: bold;
font-family: Futura;
font-size: 14px;
}
a:hover{
    color: red;
}


/* section two styling ends here */